node_modules/
dist
.DS_Store
vite.config.ts.*
*.tar.gz


.local/
attached_assets/

rasa/models/
rasa/.rasa
rasa/venv/

# This will be used on production

# packages/admin-app/node_modules/
# packages/chat-app/node_modules/

packages/

server/privateAPI/models


.env
client/.env